<!DOCTYPE html>
<html>
<head>
  <title>Galactic Comerce Corp</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://unpkg.com/stimulus/dist/stimulus.umd.js"></script>
  <script src="application.js"></script>
</head>
</head>
<body>
  <div data-controller="app">
	  <div>Galactic Comerce Corp</div>
	  <br>
	  <div id="body">
      <p>The Galactic Comerce Corp is a facilitates connections between vendors and their clients, offering an seamless integration layer between the two to trade referrals, transactions reports, and much more!</p>
	  </div>
  </div>
</body>
</html>